#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.gameBoard {
  background: linear-gradient(#0e0124, #22074d);
}

.question {
  width: 80%;
  justify-content: center;
  /* background: linear-gradient(#100241, black); */
  border: 12px solid grey;
  /* text-align: center; */
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  /* margin-left: 15%;
  margin-right: 15%; */
}
.question.span {
  font-size: 10px;
  font-style: italic;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* BUTTON OPTION 1 */
/* .answer {
  width: 25%;
  padding: 10px;
  text-align: center;
  background: linear-gradient(#0e0124, #22074d);
  border: 1px solid white;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  margin: 0 10px 20px 10px;
} */

/* BUTTON OPTION 2 */
.nextBackButtons {
  /* width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* justify-items: auto; */
  border: 3px solid grey;
  flex-wrap: wrap;
  padding: 15px;
  margin: 20px;
}

.answer {
  width: 40%;
  padding: 10px;
  text-align: center;
  font-style: oblique;
  background: linear-gradient(#c5cee4, rgb(133, 201, 227));
  border: 3px solid slategray;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  margin: 0 10px 20px 10px;
}

.answer:hover,
.answer.active {
  background: mediumblue;
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#d28d3e, #22074d);
  }
  62%,
  100% {
    background: red;
    border: 4px solid rgb(120, 51, 51);
    color: white;
    font-size: larger;
    font-style: oblique;
  }
}

.answer.correct {
  animation: correct 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#a3de8a, #22074d);
  }
  62%,
  100% {
    background: green;
    border: 4px solid rgb(178, 232, 178);
    color: white;
    font-size: larger;
    font-style: oblique;
  }
}

.answer.correct.back {
  background: green;
  border: 4px solid rgb(178, 232, 178);
  color: white;
  font-size: larger;
  font-style: oblique;
}
