#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .gameBoard {
  justify-content: center;
} */

.gameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.question {
  width: 80%;
  justify-content: center;
  background-image: linear-gradient(
    rgb(243, 209, 215),
    rgb(219, 189, 133),
    rgb(255, 255, 203)
  );
  border: 12px solid grey;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.question.span {
  font-size: 10px;
  font-style: italic;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Styles for the question number when going back */
.questionNumber.greyedOut {
  color: grey;
}

/* Next and Back Buttons */
/* .nextBackButtons {
  border: 3px solid grey;
  flex-wrap: wrap;
  padding: 15px;
  margin: 20px;
} */

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nextBackButtons {
  width: 120px;
  padding: 10px;
  font-size: 1em;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s, color 0.3s;
}

.nextBackButtons:hover {
  background-color: #e0e0e0;
}

.nextBackButtons:disabled {
  background-color: #d0d0d0;
  cursor: not-allowed;
}

/* Answer Button Styles */
.answer {
  width: 40%;
  padding: 10px;
  text-align: center;
  font-style: oblique;
  background: linear-gradient(#c5cee4, rgb(133, 201, 227));
  border: 3px solid slategray;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  margin: 0 10px 20px 10px;
}

.answer:hover,
.answer.active {
  background: mediumblue;
}

/* Animation for wrong answer */
.answer.wrong {
  animation: wrong 3s ease forwards;
}

/* Animation for correct answer */
.answer.correct {
  animation: correct 3s ease forwards;
}

/* Keyframe for wrong answer animation */
@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#d28d3e, #ced428);
  }
  62%,
  100% {
    background: red;
    border: 4px solid rgb(120, 51, 51);
    color: white;
    font-size: larger;
    font-style: oblique;
  }
}

/* Keyframe for correct answer animation */
@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#a3de8a, #265820);
  }
  62%,
  100% {
    background: green;
    border: 4px solid rgb(178, 232, 178);
    color: white;
    font-size: larger;
    font-style: oblique;
  }
}

/* Styles to disable animation when 'Back' is pressed */
.answer.correct.no-animation,
.answer.wrong.no-animation {
  animation: none;
}

/* Static styles for correct answer without animation */
.answer.correct.no-animation {
  background-color: green;
  border: 4px solid rgb(178, 232, 178);
  color: white;
  font-size: larger;
  font-style: oblique;
}

/* Static styles for wrong answer without animation */
.answer.wrong.no-animation {
  background-color: red;
  border: 4px solid rgb(120, 51, 51);
  color: white;
  font-size: larger;
  font-style: oblique;
}

.score {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.startButton {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.startButton:hover {
  background-color: #45a049;
}

.recapPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;
}

.recapPage p {
  margin: 10px 0;
}

.backMode {
  color: grey;
}

.answer.backMode {
  background-color: transparent; /* Removes the animation colors */
  animation: none; /* Disables animation */
  cursor: default;
}

.answer.backMode:hover {
  background: none; /* Removes hover effect */
}

.scoreBoard {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

.restartButton {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.restartButton:hover {
  background-color: #45a049;
}

.navigationButtons {
  padding: 20px;
}
